@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Super Almendros";
}

<!-- Sección Principal -->
<section class="hero">
    <div class="container">
        <h1>Bienvenido a Super Almendros</h1>
        <p>
            ¡Tu tienda de referencia para todo
            lo relacionado con productos de alimentación de calidad!
        </p>

    </div>
</section>

<!-- Productos Destacados -->
<section class="featured-products">
    <div class="container">
        <h2>Productos que puedes encontrar</h2>
        <div class="product-grid">
            <!-- Ejemplo de Producto 1 -->
            <div class="product-item">
                <img src="https://buenprovecho.hn/wp-content/uploads/2019/05/iStock-464381355-1.jpg" alt="Papas">
                <h3>Papas</h3>
                <p>$6</p>

            </div>

            <!-- Ejemplo de Producto 2 -->
            <div class="product-item">
                <img src="https://th.bing.com/th/id/OIP.1kz3bYdpQsj9sjT8FGldggHaHa?rs=1&pid=ImgDetMain" alt="Coca Cola">
                <h3>Producto 2</h3>
                <p>$5</p>

            </div>

            <!-- Ejemplo de Producto 3 -->
            <div class="product-item">
                <img src="https://th.bing.com/th/id/R.b4824cd306f2f190fa767128635160af?rik=n1laC%2fA6TTEcfw&riu=http%3a%2f%2fwww.agrodiario.hn%2fwp-content%2fuploads%2f2020%2f11%2flechuga.jpg&ehk=8O%2foLcBkZoA6%2bndMjZ6qMEIYoz3hRp390c9B5sDo814%3d&risl=&pid=ImgRaw&r=0" alt="Lechuga">
                <h3>Producto 3</h3>
                <p>$2</p>

            </div>

            <!-- Ejemplo de Producto 4 -->
            <div class="product-item">
                <img src="https://th.bing.com/th/id/R.b62e4937baa43d63e4a21b3826babb5b?rik=7ldtqyMMr%2f6l1Q&pid=ImgRaw&r=0" alt="Fanta">
                <h3>Producto 4</h3>
                <p>$6</p>

            </div>

            <!-- Ejemplo de Producto 5 -->
            <div class="product-item">
                <img src="https://th.bing.com/th/id/OIP.Dy108uqpQqBhgx-Zqf70zAHaHa?rs=1&pid=ImgDetMain" alt="Zanahoria">
                <h3>Producto 5</h3>
                <p>$3</p>

            </div>
            <!-- Ejemplo de Producto 6 -->
            <div class="product-item">
                <img src="https://th.bing.com/th/id/OIP.C7lgzbzjZsgx1uAM59NjtgHaEJ?rs=1&pid=ImgDetMain" alt="Chile">
                <h3>Producto 5</h3>
                <p>$2</p>

            </div>
            <!-- Ejemplo de Producto 7 -->
            <div class="product-item">
                <img src="https://walmartcr.vtexassets.com/arquivos/ids/357995/Snack-Jacks-Frit-Picarita-Bbq-Bolsa-75G-2-61249.jpg?v=638030325975600000" alt="Picaritas">
                <h3>Producto 5</h3>
                <p>$1</p>

            </div>
            <!-- Ejemplo de Producto 8-->
            <div class="product-item">
                <img src="https://th.bing.com/th/id/R.159ac74ba2e0bc204e76e020a5d09ef7?rik=KEoiM4nzzKComg&riu=http%3a%2f%2fwww.eluniversal.com.mx%2fsites%2fdefault%2ffiles%2fstyles%2ff03-651x400%2fpublic%2f2017%2f03%2f16%2farroz_el_universal_menu_istock.jpg%3fitok%3db5Z-Ovqw&ehk=DaAHlJJ3nwmmgnz3bM78pkTtWYKYUEgIlpIFl%2btF0AU%3d&risl=&pid=ImgRaw&r=0" alt="Arroz">
                <h3>Producto 5</h3>
                <p>$6</p>

            </div>
            <!-- Ejemplo de Producto 9 -->
            <div class="product-item">
                <img src="https://cuantas-calorias.org/wp-content/uploads/2016/09/frijoles-1.jpg" alt="Frijoles">
                <h3>Producto 5</h3>
                <p>$7</p>

            </div>
            <!-- Agregar más productos aquí -->
        </div>
    </div>
</section>

<!-- Sobre Nosotros -->
<section class="about-us">
    <div class="container">
        <h2>Sobre Nosotros</h2>
        <p>
            En nombre de super los almendros, nos enorgullece brindarte una cuidada selección de productos de la más alta calidad. Nuestro compromiso es ofrecerte una experiencia de compra inigualable, con artículos seleccionados especialmente para satisfacer tus necesidades y superar tus expectativas. Explora nuestra colección y descubre por qué somos tu destino preferido para productos excepcionales.
        </p>
    </div>
</section>